/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header {
  color: aquamarine;
  padding: 10px 0 0 10px;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 10px 0;
}

.header_menu {
  padding: 0px 10px 0px 10px;
}

.description {
  height: 2048px;
  width: 1365px;
  background-image: url(img\about.jpg);
}

.logo_image {
  font-size: 20px;
  padding: 15px 0 0 15px;
  color: aquamarine;
}

.setumei {
  width: 50%;
  color: white;
  white-space: pre-wrap;
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}
